// Specific CSS for your home-page



form {
  border-radius: 5px;
  padding: 5px;
}

#home_text {
  color: white;
}

#home_text_t {
  color: white;
  text-shadow: 2px 2px black;
}

#btn_text {
  color: white;
  opacity: 0;
}

.form-control {
  border-radius: 5px;
}

#search_form {
  max-width: 440px;
}

#back_image {
  background-size: cover;
}
