<div class="container">


<div class="cards">
  <% @fridges.each do |fridge| %>
    <div class="card" style="width: 18rem;">
    <img src="https://www.asapapplianceorlando.com/wp-content/uploads/2016/11/major-appliance-brands.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title"><%= fridge.name %></h3>
        <p class="card-text"><%= fridge.address %></p>
        <p class="card-text"><%= fridge.price %>€</p>
        <%= link_to 'Details', fridge_path(fridge), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>


</div>
