<p>Find me in app/views/pages/home.html.erb</p>

<div class =container>
  <div>
    <h1>Boook a Fridge</h1>
    <h3>Where</h3>
    <br>
    <h3>Dates</h3>
    <br>
    <h3>Capacity</h3>
    <br>
    <%= link_to "Search",  fridges_path %>


  </div>
</div>
