<body style="background-image: url(<%= image_path "lg.jpg" %>);" id="back_image">

<div class="container d-flex align-items-center" style="height: 90vh;">


  <div class="row form-inline">
    <div class="col">
      <h2 id="home_text_t">With every occasion comes food in a Fridge.</h2>
      <h1 id="home_text_t" class="animated rollIn duration-2s">Find the right Fridge for you!</h1>
      <%= form_tag fridges_path, id: "search_form", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Address"
        %>
        <button class="main-button bigger-button" id="home-button" type="submit">Find a Fridge</button>
      <% end %>
      <%= link_to "+ more Options", fridges_path, class: "btn btn-primary", id: "more_options"%>
    </div>
  </div>

</div>

</body>
