.hidden {
  opacity: 0;
}

.main-button {
  border: solid  #678FE7 1px;
  background-color: white;
  color: #678FE7;
  border-radius: 5px;
  position: relative;
  top: 2px;
}

.main-button:hover {
  color: white;
  background-color: #678FE7;
}

.bigger-button {
  padding: 5px;
}

#home-button {
  background-color: transparent;
  font-weight: bolder;
  border: solid  #678FE7 2px;
}

#home-button:hover {
  border: solid  white 2px;
}

#more_options {
  background-color: transparent;
  border: 0px;
}
