.chat-container {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.chat-header {
  border-bottom: 1px solid rgb(240,240,240);
  h1 {
  font-size: 24px;
  };
  i {
  font-size: 20px;
  }
}

.chat-conversations {
  flex-grow: 1;
  padding: 16px 0;
  overflow: scroll;
}
