.organization {
  opacity: .3;
  cursor: pointer;
  font-size: 18px;
  .active {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 4px;
  }
}

.organization:hover {
  opacity: 1;
}


.user-sidebar {
  background-color: #4B3949;
  color: white;
  padding: 16px;
  width: 200px;
  flex-shrink: 0;
  h1 {
  font-size: 24px;
  }
}


.user-booking-container {
  margin-top: 24px;
  padding: 16px;
}

.user-booking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  h3 {
  font-size: 16px;
  margin: 0;
  }
}


