.fa-chevron-down {
  color: rgba(0, 0, 0, 0.4);
}

.subnav {
  width: 100%;
  ul {
    width: 100%;
  };
  margin-top: 0;
  .far, .fa-map-marker-alt, .fa-box {
    color: #84a5ec;
  };
}


.element {
    padding: 20px 30px;
}

